/* .main-container {
  padding: 5rem;
  display: flex;
  justify-content: center;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 150px;
  width: 300px;
  padding-bottom: 8rem;
  background: linear-gradient(to bottom, #8095ef 0%, #0909a3 100%);
}
.logo {
  height: 50px;
  width: 50px;
  padding-bottom: 0.5rem;
}
